{% extends "w3/base2.html" %}

{% block header %}
<div id="mycarousel" class="carousel slide" data-ride="carousel">

    <!--indicators-->
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
        <li data-target="#mycarousel" data-slide-to="5"></li>
        <li data-target="#mycarousel" data-slide-to="6"></li>
        <li data-target="#mycarousel" data-slide-to="7"></li>
        <li data-target="#mycarousel" data-slide-to="8"></li>
        <li data-target="#mycarousel" data-slide-to="9"></li>
    </ol>
    <!--slides-->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
            <div class="carousel-caption">
                <h1>Hello, Welcome to QkJob, from Ret-Tek.</h1>
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide2"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Company Selector</h1>
                <h4 style="background-color: white; color:black;">Add companies by industry and location (region/state)</h4>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide3"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Company Chooser</h1>
                <h4 style="background-color: white; color:black;">Edit my list of companies to engage with.</h4>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide4"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Edit company details</h1>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide5"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Edit your company contacts.</h1>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide6"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Record company notations</h1>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide7"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Make notes on available positions</h1>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide8"></div>
            <div class="carousel-caption">
                <h1 style="background-color: white; color:black;">Create open position notes.</h1>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide9"></div>
            <div class="carousel-caption">
             <h1 style="background-color: white; color:black;">Track application documents.</h1>
                <!--<h4 style="background-color: white; color:black;"></h4>-->
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
        <div class="item">
            <div class="slide10"></div>
            <div class="carousel-caption">
             <h1 style="background-color: white; color:black;">Your data is safe.</h1>
                <h4 style="background-color: white; color:black;">Your company, contacts, position information and application information is saved in plain text files</h4>
                <!--<p>Comment</p>-->
                <!--<p><a href="#" class="btn btn-primary btn-sm">CLICK ME!</a></p>-->
            </div>
        </div>
    </div>
    <!--controls-->
    <a class="left carousel-control" href="#mycarousel" data-slide="prev">

        <span class="glyphicon glyphicon-chevron-left"></span>

    </a> <a class="right carousel-control" href="#mycarousel"
            data-slide="next">

        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>QkJob: Be organized & Ready-to-go! </strong></h2>
            <p><img class="img-responsive" src="/static/w3/globe.gif" /></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Simplifies, eases, and powers-up your job search</strong></h2>
            <ul>
                <li><h4>Saves you time</h4></li>
                <li><h4>Reduces your workload</h4></li>
                <li><h4>Reduces your stress level</h4></li>
                <li><h4>Quicker results</h4></li>
            </ul>
        </div>
        <div class="clearfix visible-md"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Manage your information:</strong></h2>
            <ul>
                <li><h4>Companies and Contacts</h4></li>
                <li><h4>Listed Jobs</h4></li>
                <li><h4>475 large companies, selectable by state &amp; industry</h4></li>
            </ul>
            <p>&nbsp;</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h2><strong>Organizes your search</strong></h2>
            <ul>
                <li><h4>Companies, Contacts and Notes</h4></li>
                <li><h4>Jobs, Job Issues and Files</h4></li>
                <li><h4>Organize &amp; manage a To-Do list</h4></li>
            </ul>
        </div>
        <div class="clearfix visible-lg"></div>
    </div>
</div>

<h2>
    <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg">Register an account<span class="glyphicon glyphicon-chevron-right"></span></a> to make
    your own Learning Log, and list the topics you're learning about.
</h2>
{% endblock content %}